/Heranca/nbproject/private/
/Heranca/build/
/Heranca/dist/
/Funcionario/nbproject/private/
/Funcionario/build/
/Funcionario/dist/
/sistemaRH/nbproject/private/
/sistemaRH/build/
/sistemaRH/dist/
/LoginGráfico/nbproject/private/